<div class="container columns">
  <div id="contact-list-container" class="column is-narrow-desktop" style={max-width: 960px}>
  </div>
  <div id="contact-detail-container" class="column">
  </div>
</div>
